{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="table-dark">
            <th>编号</th>
            <th>团队名字</th>
            <th>团队说明</th>
            <th>管理员</th>
            <th>成员</th>
            <th>Task</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ team.team_name }}</td>
            <td>{{ team.description }}</td>
            <td>{{ team.managers }}</td>
            <td>{{ team.members }}</td>
            <td>{{ team.task }}</td>
        </tr>
        </tbody>
    </table>
    <a href="{% url 'team:modify' team.id %}">修改</a>
    <a href="{% url 'team:delete' team.id %}">删除</a>
</div>
{% endblock %}
