{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="table-dark">
            <th>文档题目</th>
            <th>文档名</th>
            <th>创建时间</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ file.title }}</td>
            <td>{{ file.file }}</td>
            <td>{{ file.startdate }}</td>
        </tr>
        </tbody>
    </table>
    <a href="{% url 'file:filedelete' file.id %}">删除文档</a>
    <a href="{% url 'file:filemodify' file.id %}">修改文档</a>
</div>
{% endblock %}