{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="table-dark">
            <th>Task名字</th>
            <th>Worker</th>
            <th>创建时间</th>
            <th>结束时间</th>
            <th>进度</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ task.task_name }}</td>
            <td>{{ task.worker }}</td>
            <td>{{ task.startdate }}</td>
            <td>{{ task.enddate }}</td>
            <td>{{ task.progress }}</td>
        </tr>
        </tbody>
    </table>
    <a href="{% url 'task:delete' task.id %}">删除Task</a>
    <a href="{% url 'task:modify' task.id %}">修改Task</a>
</div>
{% endblock %}