{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">创建Task</h5>
    <form method="post">
        {% csrf_token %}
        <!-- 오류표시 Start -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
            {% if field.errors %}
            <div>
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div class="mb-3">
            <label for="task_name" class="form-label">task_name</label>
            <input type="text" class="form-control" name="task_name" id="task_name"
                   value="{{ task.task_name }}">
        </div>
        <div class="mb-3">
            <label for="worker" class="form-label">员工</label>
            <input type="text" class="form-control" name="worker" id="worker"
                   value="{{ task.worker }}">
        </div>
        <div class="mb-3">
            <label for="status" class="form-label">状态</label>
            <textarea class="form-control" name="status"
                      id="status" rows="10">{{ task.status }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">项目Task</button>
    </form>
</div>
{% endblock %}